.make-red {
  background-color: rgb(240, 94, 94);
}

.table{
  margin: auto;
  margin-top: 70px;
  width: 70%;
}

.chartContainer{
  margin: auto;
  margin-top: 50px;
  width: 500px;
  height:500px;
}
